.breadcrumb-shop {
    background-color: #fafafa;
}

.breadcrumb-shop li a {
    font-size: 13px;
    color: #fafafa;
    font-weight: 500;
}

.breadcrumb-shop li:hover a {
    font-size: 13px;
    color: #337ab7 !important;
}

.breadcrumb-shop li:first-child::before {
    content: '';
    color: #ccc;
    padding: 0 5px;
}

.breadcrumb-shop li::before {
    content: '/\00a0';
    color: #ccc;
    padding: 0 5px;
}

.all-product .product-item a { 
    width: 100% !important;
}

.all-product .product-hover,
.all-product .product-hover img { 
    height: 295px !important;
}

.all-product .product-hover img {
    width: 100%; 
}