.register,
.login {
    padding-top: 100px; 
    padding-bottom: 50px;
}

.register h2::before,
.login h2::before {
    content: '';
    position: absolute;
    width: 90px;
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: #333;
    
}

.btn-register,
.btn-login {
    position: relative;
    width: 136px !important;
    padding: 10px;
    color: #fff !important;
    display: block;
    background-color: #333; 
    border: 1px solid #333;
    font-weight: 500;
    font-size: 15px !important;
    transition: all 0.2s ease-in-out;
}

.btn-register:hover,
.btn-login:hover {
    background-color: #fff;
    color: #333 !important;
}

.redirect-home a {
    color: #333 !important;
    font-size: 15px;
    font-weight: lighter;

}
.redirect-home svg {
    width: 18px;
    height: 18px;
}

.redirect-home a:hover {
    color: #337ab7 !important;
}

/*  */
.redirect-home a {
    position: relative !important;
    transition: all 0.2s ease-in-out; 
    overflow: hidden; 
}

.redirect-home a::before {
    content: "";
    position: absolute !important;
    width: 0;
    height: 2px;
    background-color: #337ab7;
    bottom: -25%; 
    transition: width 0.2s ease-in-out;  
}
 

.redirect-home a:hover::before {
    width: 60%; 
}

.account-register a,
.account-login a {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

.account-register a:hover,
.account-login a:hover  {
    color: #337ab7 !important;
}